<IfModule mod_rewrite.c>
  RewriteEngine On
# change RewriteBase to your folder path like: /pages/nano-oj/
  RewriteBase /pages/nano-oj/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>